@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-noto: "Noto Sans", sans-serif;
  --font-atkinson: "Atkinson Hyperlegible", sans-serif;
  --font-dm-sans: "DM sans", sans-serif;
}

body {
  @apply bg-gray-900;
}
